.offsetForScrollTop{
    scroll-margin-top: 100px;
}

.site-header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 2rem;
}
.backgroundForHeader-dev{
    background: linear-gradient(to right,rgb(0, 0, 0),rgba(255, 255, 255, 0.041)), url("/truckLanding.jpg");
    background-position: bottom;
    background-size: cover;
}
.backgroundForHeader-prod{
    background: linear-gradient(to right,rgb(0, 0, 0),rgba(255, 255, 255, 0.041)), url("/logistics-company/truckLanding.jpg");
    background-position: bottom;
    background-size: cover;
}
.site-header h1{
    font-size: 4rem;
    font-weight: 700;
}
.site-header p{
    margin: 1rem 0 2rem 0;
    font-size: 1.1rem;
    /* color: rgb(204, 204, 204); */
}
.site-header-actions{
    margin-top: 1rem;
}
.site-header-buttons{
    border: 2px solid white;
    padding: 1rem 5rem;
    margin-right: 1rem;
    cursor: pointer;
    /* display: flex; */
    /* flex-wrap: wrap; */
    text-align: center;
    font-weight: bold;
}
.headerButton1{
    border: 3px solid #d44545;
    /* background-color: #d44545; */
}
.headerButton1:hover{
    background-color: #d44545;
}
.headerButton1, .headerButton2{
    transition: all 250ms;
}
.headerButton2{
    border: 3px solid #eb954b;
    /* background-color: #eb954b; */
    /* color: #4f5d73; */
}
.headerButton2:hover{
    background-color: #eb954b;
}

@media only screen and (max-width: 900px){
    .backgroundForHeader-dev{
        background: linear-gradient(to top,rgb(0, 0, 0),rgba(255, 255, 255, 0.041)), url("/truckLanding.jpg");
        background-position: bottom;
        background-size: cover;
    }
    .backgroundForHeader-prod{
        background: linear-gradient(to top,rgb(0, 0, 0),rgba(255, 255, 255, 0.041)), url("/logistics-company/truckLanding.jpg");
        background-position: bottom;
        background-size: cover;
    }
    .site-header h1{
        font-size: 3rem;
    }
    .site-header-actions{
        display: flex;
        flex-direction: column;
    }
    .site-header-buttons{
        padding: 1rem 2rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 500px) and (max-width: 900px){
    .site-header-buttons{
        max-width: 200px;
    }
}
@media only screen and (max-width: 500px){
    .site-header h1{
        font-size: 2rem;
    }
    .site-header p{
        font-size: 1rem;
    }
}










