.navbar{
    position: fixed;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 2;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    max-width: 50px;
}
.logoText{
    margin-left: 0.5rem;
    color: rgb(63, 58, 58);
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
}
.navbarItems{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}
.menuButton{
    display: none;
    /* padding: 1rem 2rem; */
    cursor: pointer;
    font-size: 1rem;
}
.menuButton img{
    max-width: 50px;
}
.navbarLink{
    padding: 0 3rem;
    color: #746a6a;
    cursor: pointer;
    height: 100%;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
.navbarLink{
    transition: all 250ms;
}
.navbarLink:hover{
    background-color: rgb(218, 215, 215);
    height: 100%;
}
.menuItems{
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100vw;
    display: none;
    flex-direction: column;
    z-index: 1;
    transform: translateX(100%);
}
.menuLink{
    color: #746a6a;
    cursor: pointer;
    /* margin: 0 2rem; */
    padding: 1rem 2rem;
    border-bottom: 1px solid #746a6a21;
    /* transform: translateX(100%); */
}
.menuRight{
    transform: translateX(-100%);
    animation: slideRight 300ms forwards;
}
.menuCentre{
    /* transform: translateX(100%); */
    animation: slideCenter 300ms forwards;
}
.menuLink2{
    animation-delay: 100ms;
}
.menuLink3{
    animation-delay: 150ms;
}
.menuLink4{
    animation-delay: 200ms;
}
.menuLink{
    background-color: rgba(255, 255, 255, 0.87);
}
.menuLink:hover{
    background-color: rgb(218, 215, 215);
}
.dummyForNavbarMenu{
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    flex: 1;
}
@media only screen and (max-width: 900px){
    .navbarLink{
        display: none;
    }
    .menuButton{
        display: inline;
    }
    .menuItems{
        display: flex;
    }
    .dummyForMenuExit{
        display: block;
    }
}
@media only screen and (max-width: 500px){
    .logoText{
        font-size: 1.1rem;
    }
}

@keyframes slideCenter {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes slideRight {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}